.container {
	display: flex;
	flex-grow: 1;
	margin: 0 auto;
	position: relative;
	width: auto;
	height: 100%;

	max-width: 1152px;

	@media (max-width: 1024px) {
		max-width: 960px;
	}
	@media (max-width: 900px) {
		max-width: 720px;
	}

	@media (max-width: 480px) {
		max-width: 330px;
	}
}

.text {
	// position: absolute;
	// top: 420px;
	// left: 450px;
	// transform: translate(-40%, -50%);
	z-index: 1;
}

.title {
	font-size: 120px;
	text-transform: uppercase;
	width: 0%;
	overflow: hidden;
	white-space: nowrap;
	color: white;
}

.desc {
	color: rgba(255, 255, 255, 0.5);
	margin-top: 40px;
	line-height: 2;
	font-weight: 300;
}

.readmore {
	display: inline-block;
	margin-top: 80px;
	color: #fff;
	border-bottom: 1px solid #fff;
	text-decoration: none;
	text-transform: uppercase;
	padding-bottom: 3px;
	font-weight: bolder;
}

.image {
	display: flex;
}

.img-1 {
	// position: absolute;
	// top: 300px;
	// right: 320px;
	transform: translate(-50%, -5%);
	background: url("../../assests/images/img-1.jpg") no-repeat;
	background-position: center;
	background-size: cover;
	width: 0;
	height: 600px;
}

.img-2 {
	// position: absolute;
	// top: 320px;
	// right: 0;
	transform: translate(-100%, 10%);
	background-image: url("../../assests/images/img-2.jpg");
	background-position: top;
	background-size: cover;
	width: 0;
	height: 350px;
	margin-bottom: 30px;
}
